.attribution { font-size: 11px; text-align: center; margin-top: -15px;}
.attribution a { color: hsl(228, 45%, 44%); }

:root{

    // Primariy
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    // Neutral
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    border: none;
}

body{
    background: url('../images/pattern-background-desktop.svg') no-repeat;
    background-color: var(--pale-blue);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: -5px 25px 45px #c5c6c9; 
}

.card > img{
    border-radius: 10px 10px 0 0;
    margin-bottom: -10px;
}

.card-body{
    padding: 2.8rem;
}

.card-title, .card-text{
    text-align: center;
    padding: 0.5rem;
}

.card-title{
    margin-bottom: 0.5rem;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--dark-blue);
}

.card-text{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 1.1rem;
    color: var(--desaturated-blue);
    line-height : 1.9rem;
}

.banner{
    display: flex;
    padding: 1.4rem;
    margin-bottom: 2.6rem;
    border-radius: 1rem;
    margin: 0rem;
    background-color: var(--very-pale-blue);
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    text-align: start;
    line-height : 1.9rem;
}

.banner-text h2{
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--dark-blue);
}

.banner-text p{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--desaturated-blue);
}

.banner img{
    margin: 0 1rem 0 0;
}

.logo-plan{
    width: 3.5rem;
    height: 3.6rem;
}

.banner button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}

.banner button:hover{
    color: var(--bright-blue);
    text-decoration: none;
    font-weight: bold;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proced-payment{
    background-color: var(--bright-blue);
    color: white;
    height: 3.6rem;
    width: 100%;
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 2.1rem;
    box-shadow: 5px 5px 15px #acadaf;
    font-weight: 700;
    letter-spacing: .1px;
}
// #c5c6c9
.proced-payment:hover{
    background-color: var(--desaturated-blue);
}

.cancel-payment{
    background-color: transparent;
    text-decoration: none;
    color: white;
    height: 3.6rem;
    width: 100%;
    border-radius: 0.7rem;
    color: var(--desaturated-blue);
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: -1.2rem;
    margin-top: 1.2rem;
    font-weight: 700;
    letter-spacing: .1px;
}

.cancel-payment:hover{
    color: var(--dark-blue);
}

// Media quieries
@media screen and (max-width: 375px) {

    body{
        background: var(--pale-blue);
    }
}
